/*声明 WebFont*/
@font-face {
    font-family: 'futura';
    src: url('../font/futura.eot');
    src:
    /* 此行是为了获取IE嵌入权限 */
    url('../font/futura.eot?#iefix') format('embedded-opentype'),
    /* 此行是为了嵌入正常ttf字体文件，供大多数浏览器使用 */
    url('../font/futura.ttf') format('truetype');
}

/* reset，使各大浏览器显示效果一致 */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
code,
em,
img,
strong,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
time,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul,
li {
	list-style: none;
	line-height: normal;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color: #a5a2a7;
	text-decoration: none;
}

a:hover {
	color: #ffc600;
}

.clearboth {
	clear: both;
}

html {
	height: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
	min-height: 100%;
	position: relative;
	padding-bottom: 9rem;
}

html,
body,
section,
.container {
	width: 100%;
	margin: 0 auto;
	background-color: #f0f0f0;
	font-family: Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5{
    font-weight: bold;
    color: #743481;
}
h1{
    font-size: 2.6em;
    line-height: 2.45em;
}
h2{
    font-size: 2.1em;
    line-height: 1.9em;
}
h3{
    font-size: 1.8em;
    line-height: 1.65em;
}
h4{
    font-size: 1.65em;
    line-height: 1.4em;
}
h5{
    font-size: 1.4em;
    line-height: 1.25em;
}

p {
	color: #22132d;
}

button:hover {
    cursor: pointer;
}

.italic {
	font-style: italic;
}

.bold {
    font-weight: bold;
}

.page-header {
	border-bottom: 2px solid #743481;
}

.lab-title {
	padding-left: 10px;
	font-family: 'futura', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.index-link {
	color: #743481;
}

#hamburger {
	width: 30px;
	height: 30px;
	border: none;
	padding: 0;
	outline: none;
	background-color: rgba(0, 0, 0, 0);
	background-image: url('../img/hamburger.png');
	background-repeat: no-repeat;
	background-size: 30px 30px;
	z-index: 10;
	position: fixed;
	right: 1em;
	top: 35px;
}

.navigation {
	width: 100%;
	text-align: center;
	background-color: #743481;
	z-index: 10;
	position: fixed;
	opacity: 0.8;
	/* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
}

.open {
	-webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.nav-li {
	font-size: 24px;
	color: #f0f0f0;
	padding: 15px 0;
	border-bottom: 1px solid #f0f0f0;
}

.nav-li:last-child {
	border-bottom: none;
}

.navlist-item {
	color: #f0f0f0;
}

.intro {
    margin: 30px auto;
    padding: 0 10px;
    text-align: justify;
    font-size: 16px;
    line-height: 25px;
    border-left: 5px solid #743481;
}

.page-footer {
	width: 100%;
	background-color: #22132d;
	margin: 20px auto 0 auto;
	padding: 20px 0;
	text-align: center;
	position: absolute;
	bottom: 0;
}

.address {
	color: #a5a2a7;
}

.footer-table {
	margin: 0 auto;
}

.footer-item {
	padding: 0 15px;
}

#footer-mid-item {
	border-left: 1px solid #a5a2a7;
	border-right: 1px solid #a5a2a7;
}

.lab-website {
	display: block;
	margin: 10px 0;
}

#go-top {
    visibility: hidden;
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('../img/top.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    z-index: 10;
    opacity: 0.5;
    position: fixed;
    right: 1em;
    bottom: 1em;
}

#go-top:hover {
    opacity: 1;
}

@media screen and (min-width: 720px) {
	#hamburger {
		display: none;
	}

	.navigation {
		-webkit-transform: translate(0, 0);
    	transform: translate(0, 0);
    	position: static;
    	opacity: 1;
    	display: flex;
    	flex-wrap: wrap;
    	align-content: center;
    	justify-content: space-between;
	}

	.nav-li {
		border-bottom: none;
	}

	.navlist-item {
		padding: 0 8px;
	}
}

@media screen and (min-width: 1200px) {
	.page-header,
	.navigation,
	.main-content {
		width: 1200px;
		margin: 0 auto;
	}

	.navlist-item {
		padding: 0 30px;
	}
}

.beta {
    font-size: 14px;
    font-weight: normal;
    padding-left: 5px;
}

/* 为iphone和ipod设置，隐藏video的控制按钮 */
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}
