/* 载入iconfonts */
@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
    color: #743481;
    padding-right: 5px;
}

img {
    max-width: 100%;
}

#people-active {
    color: #ffc600;
}

.main-content {
    margin-top: 0;
}

.card {
    box-shadow: 0 0 50px #999;
    margin-bottom: 15px;
    text-align: center;
}

.boss {
    padding-top: 5px;
}

#boss-img {
    border-radius: 50%;
    width: 200px;
    margin: 10px 0;
}

.boss-name-chinese {
    font-family: 'Microsoft YaHei', '微软雅黑', 'Hiragino Sans GB', '冬青黑体',  sans-serif;
}

#boss-biography {
    display: block;
    margin: 10px auto;
    width: 120px;
    background-color: #743481;
    color: #f0f0f0;
    box-shadow: 0 0 50px #999;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

#boss-biography:hover {
    color: #ffc600;
}

.boss-contact {
    text-align: left;
    padding-left: 15px;
    padding-bottom: 15px;
}

.purple {
    color: #743481;
}

.boss-contact-head {
    padding: 15px;
    border-top: 1px solid #743481;
    text-align: left;
}

.boss-contact-item {
    padding: 3px 20px;
}

.boss-contact-link {
    color: #22132d;
    text-decoration: underline;
}

.degree {
    text-align: left;
    padding: 15px 10px;
}

.member-item {
    margin-bottom: 15px;
    padding: 15px 0;
}

.menber-img {
    border-radius: 50%;
    width: 150px;
}

.alumni {
    text-decoration: underline;
}

.alumni:hover {
    cursor: pointer;
    color: #ffc600;
}

/* pop up box */
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1001;
    transition: all 0.3s ease;
}

/* pop up box */
#alumni-box {
    position: fixed;
    top: calc(25% + 30px);
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
    background-color: #f0f0f0;
    z-index: 1002;
    overflow: auto;
    padding-top: 20px;
    margin: auto;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

#alumni-header {
    width: 100%;
    height: 30px;
    background-color: #743481;
    position: fixed;
    top: 25%;
    z-index: 1003;
    margin: auto;
    left: 0;
    right: 0;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

#close-alumni {
    font-size: 15px;
    position: absolute;
    right: 10px;
    top: 5px;
}

#alumni-body {
    text-align: left;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.alumni-school {
    text-align: center;
}

.alumni-degree {
    margin: 15px;
    width: 200px;
}

.alumni-member-list {
    height: 128px;
    overflow: auto;
}

.nooverflow {
    overflow: hidden;
    padding-right: 16px;
}

.beneath {
    opacity: 0;
    visibility: hidden;
}

/* responsive design */
@media screen and (min-width: 480px) {
    .boss,
    .member-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #boss-img-area {
        width: 45%;
        text-align: center;
        padding: 0 10px;
    }

    .boss-info {
        width: 50%;
    }

    .boss-more {
        width: 50%;
    }

    .boss-contact-head {
        border-top: none;
    }

    .boss-contact {
        width: 100%;
    }

    .boss-contact-head {
        display: block;
        width: 100%;
    }

    .member-list {
        justify-content: space-around;
    }

    .member-item {
        margin: 10px;
        padding: 10px;
    }
}

@media screen and (min-width: 520px) {
    #alumni-box {
        width: 520px;
    }

    #alumni-header {
        width: 520px;
    }
}

@media screen and (min-width: 720px) {
    .boss-info {
        width: 60%;
    }

    .boss-more {
        width: 40%;
    }
}

@media screen and (min-width: 1080px) {
    .boss-contact {
        padding-left: 5%;
    }

    .member-list {
        justify-content: flex-start;
    }

    .member-item {
        padding: 15px;
    }
}
