#research-active {
    color: #ffc600;
}

.main-body {
    text-align: center;
}

.achievements-title-list {
    margin-bottom: 30px;
}

.achievement-title-item {
    width: 100%;
    display: inline-block;
    padding: 15px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 20px;
    font-weight: bold;
    color: #f0f0f0;
    background-color: #743481;
}

.achievement-title-item:hover {
    color: #ffc600;
    cursor: pointer;
}

.selected {
    color: #743481;
    background-color: rgba(116, 52, 129, 0.2);
    border-bottom: none;
    box-shadow: 0 5px 5px 0 #743481;
    transition: all 0.3s ease;
}

.achievement-details {
    box-shadow: 0 0 50px #999;
    transition: opacity 0.2s ease;
}

.full-title {
    padding: 15px 0;
}

.main-images {
    width: 100%;
    max-width: 388px;
    padding-bottom: 10px;
}

.description {
    text-align: left;
}

.portion {
    line-height: 1.5em;
    padding: 10px;
    text-align: justify;
}

.paper-link {
    color: #743481;
}

.indices-list {
    list-style: disc inside none;
    border-left: 5px solid #743481;
    padding-left: 10px;
}

.item-name {
    font-size: 1.2em;
    font-weight: bold;
}

.indices-item {
    list-style: inherit;
    line-height: 1.5em;
}

.item-title {
    text-align: left;
}

.inside-list {
    list-style: circle inside none;
    padding-left: 10px;
}

.inside-item {
    list-style: inherit;
    line-height: 1.5em;
}

@media screen and (min-width: 500px) {
    .achievements-title-list {
        margin-bottom: 0;
    }

    .achievement-title-item {
        width: 30%;
    }
}
