/* reset css */
html,
body,
div,
header,
h1,
h2,
h3,
ul,
li,
button {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', 'Helvetica', sans-serif;
    color: #eaeaea;
}

html,
body,
#container {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
    color: #315065;
}

h3 {
    font-size: 16px;
    color: #315065;
}

button {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* the main title of the page */
#page-head {
    width: 100%;
    padding: 10px 0;
    background-color: #325165;
    color: #eaeaea;
    -moz-box-shadow: 0 0 10px #212121 inset;
    -webkit-box-shadow: 0 0 10px #212121 inset;
    box-shadow: 0 0 10px #212121 inset;
}

/* the hamburger button */
.list-btn {
    font-size: 30px;
    border: none;
    margin: 0 5px;
    background-color: #325165;
}

/* make the title in the same line with hamburger button */
.page-title {
    display: inline-block;
}

.address-sidebar {
    z-index: 10;
    background-color: #db6b6c;
    width: 100%;
    max-width: 300px;
    height: calc(100% - 62px);
    position: absolute;
    opacity: 0.8;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
}

/* toggle it when click the hamburger button */
.address-sidebar.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

/* define evety style of address name */
.address-item {
    padding: 10px 0 10px 10px;
    font-size: 18px;
    font-weight: bold;
    border-top: 1px solid #325165;
    overflow: hidden;
}

.address-item:hover {
    background-color: #315065;
    color: #eaeaea;
    cursor: pointer;
}

/* this li contains input and filter button */
#address-search {
    height: 42px;
    width: 100%;
    padding: 10px 0 10px 10px;
}

/* define address input css */
#address-input {
    height: inherit;
    border: none;
    outline: none;
    background-color: #db6b6c;
    color: #315065;
    font-family: 'Comic Sans MS', 'Helvetica', sans-serif;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
}

/* define filter button */
#address-clear {
    height: inherit;
    font-size: 18px;
    background-color: #315065;
    color: #eaeaea;
    font-weight: bold;
    position: absolute;
    right: 10px;
    border: none;
    border-radius: 10px/40px;
    cursor: pointer;
    padding: 0 10px;
}

#address-clear:hover {
    background-color: #202f5f;
}

#address-clear:active {
    border-top-color: #1b435e;
    background-color: grey;
}

/* this div will load google map */
#google-map {
    height: calc(100% - 62px);
    background-color: skyblue;
}

#pano {
    width: 300px;
    height: 200px;
}

.fsqure-link {
    color: #315065;
    font-size: 16px;
    text-decoration: underline;
}

.fsqure-link:hover {
    color: #db6b6c;
}

.rating {
    color: #db6b6c;
}

/* responsive screen */
@media screen and (min-width: 730px) {
    .list-btn {
        display: none;
    }

    .page-title {
        padding-left: 10px;
    }

    .address-sidebar {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }

    #google-map {
        width: calc(100% - 300px);
        position: absolute;
        right: 0;
    }
}
