<nav>
  <ul class="nav-ul">
    <li id="nav-home" class="nav-item"><a class="{% if page.url == '/' %}current{% endif %}" href="/index.html">home</a></li>
    <li class="nav-item"><a href="build-a-portfolio-site/index.html">build-a-portfolio-site</a></li>
    <li class="nav-item"><a href="frontend-nanodegree-resume/index.html">frontend-nanodegree-resume</a></li>
    <li id="nav-about" class="nav-item"><a class="{% if page.url == '/about.html' %}current{% endif %}" href="about.html">about</a></li>
  </ul>
</nav>
