.main-content {
    text-align: center;
    padding-top: 30px;
}

.error-img {
    width: 100%;
    max-width: 400px;
}

@media screen and (min-width: 720px) {
    .main-content {
        padding-top: 180px;
    }
}
