<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ShisaQ's Space</title>
</head>
<body>
  <div class="container">
    <header>
    <h1>ShisaQ</h1>
    <nav>
      <ul class="nav-ul">
        <li class="nav-item"><a href="index.html">home</a></li>
        <li class="nav-item"><a href="build-a-portfolio-site/index.html">build-a-portfolio-site</a></li>
        <li class="nav-item"><a href="frontend-nanodegree-resume/index.html">frontend-nanodegree-resume</a></li>
        <li class="nav-item"><a href="about.html">about</a></li>
      </ul>
    </nav>
  </header>
    {{content}}
  </div>
</body>
</html>
